body {
    margin: 0px;
}

.main {
    /* height: 100vh; */
    background-image: url("../assets/images/koi_edit.jpg");
    /* background-attachment: fixed; */
    /* min-height: 100%; */
/* background-repeat: no-repeat; */
background-attachment: fixed;
/* background-position: center;
background-size: cover; */
}

.main#projectsMain {
    background-image: url("../assets/images/dunesDay.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.navBar {
    height: 60px;
    background-color: #1e1e22;
    display: flex;
    justify-content: space-between;
    font-family: Trebuchet MS, Helvetica, sans-serif;
    position: sticky;
    top: 0px;
}

.navBar#projectsNav {
    background-color: rgb(199, 127, 69);
}

#projectsNav #nameLogo {
    background-color: rgb(199, 127, 69);
}

#projectsNav .buttonMenu button {
    background-color: rgb(199, 127, 69);
    color: white;
}

#daniel {
    color: white;
    font-weight: lighter;
    font-size: 32px;
}

#lancaster {
    color: grey;
}

#projectsNav #lancaster {
    color: rgb(83, 80, 80);
}

#nameLogo {
    background-color: #1e1e22;
    border: none;
    font-size: 35px;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.navBar button {
    border: none;
    background-color: #1e1e22;
    color: grey;
    font-family: Trebuchet MS, Helvetica, sans-serif;
    font-size: 24px;
}

.buttonMenu {
    display: flex;
    margin-right: 50px;
}

.buttonMenu button {
    padding-left: 30px;
}

#logo {
    width: 45px;
    height: 40px;
}

.bio {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    /* position: absolute; */
    /* top: 50%;
    transform: translate(0%, -50%); */
}

#shrine {
    width: 47%;
}

#camel {
    width: 40%;
    border-radius: 50%;
}

.bioP {
    width: 40%;
    align-self: center;
    text-align: center;
}

.contactLogoMenu {
    position: relative;
    width: fit-content;
    margin: auto;
}

.contactLogoMenu img {
    width: 30px;
}

#linkedInLogo img {
    width: 39px;
}

#emailLogo img {
    width: 36px;
}

.contactLogoMenu button {
    background-color: transparent;
    border: none;
}

.quickNote {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 19px;
    margin: auto;
}

.projectsShowcase  {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.projectsBottomRow {
    display: flex;
    justify-content: center;
}

#valorPic {
    width: 100%;
}

#audioPic {
    width: 100%;
}

#lootPic {
    width: 100%;
}

.projectsInfo {
    display: flex;
    /* flex-direction: row; */
    margin-left: 50px;
    margin-right: 50px;
    /* position: relative; */
    margin-top: 358px;
}

.camelBio {
    display: flex;
    flex-direction: row;
    /* width: 36%; */
    align-self: center;
}

.audioContainer {
    width: 43%;
}

.mernContainer {
    width: 50%;
    margin-left: 62px;
    margin-top: 27px;
}

.projectsShowcase p {
    font-size: 10px;
}

.projectsShowcase h1 {
    font-size: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
}

.projectsUpperRow {
    display: flex;
}

.valorContainer {
    width: 43%;
}