body {
    margin: 0px;
    background-color: #232327;
}

.main {
    background: url("../assets/images/koi_edit.jpg") no-repeat;
    background-position: center;
    background-attachment: fixed;
}

@media (min-width: 1921px) {
    .main {
        width: 55%;
        margin: auto;
    }
}

.main#projectsMain {
    background-image: url("../assets/images/dunesDay.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.navBar {
    height: 60px;
    background-color: #1e1e22;
    display: flex;
    justify-content: space-between;
    font-family: Trebuchet MS, Helvetica, sans-serif;
    position: sticky;
    top: 0px;
    z-index: 1;
}

#daniel {
    color: white;
    font-weight: lighter;
    font-size: 32px;
}

#lancaster {
    color: grey;
}

#nameLogo {
    background-color: #1e1e22;
    border: none;
    font-size: 35px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    text-decoration: none;
}

.navBar a {
    border: none;
    background-color: #1e1e22;
    color: white;
    font-family: Trebuchet MS, Helvetica, sans-serif;
    font-size: 24px;
    text-decoration: none;
    align-self: center;
    margin-left: 36px;
}

.buttonMenu {
    display: flex;
    margin-right: 50px;
}

#logo {
    width: 45px;
    height: 40px;
}

.bio {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 50px;
}

#shrine {
    width: 47%;
}

#camel {
    width: 40%;
}

.bioP {
    width: 40%;
    align-self: center;
    text-align: center;
}

.contactLogoMenu {
    position: relative;
    width: fit-content;
    margin: auto;
}

.contactLogoMenu img {
    width: 30px;
    z-index: 0;
}

#linkedInLogo img {
    width: 39px;
}

#emailLogo img {
    width: 36px;
}

.contactLogoMenu a {
    text-decoration: none;
}

.quickNote {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin: auto;
}

.projectsShowcase  {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}

#valorPic {
    width: 100%;
}

#audioPic {
    width: 100%;
}

#lootPic {
    width: 100%;
}

.projectsInfo {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 300px;
}

.camelBio {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.audioContainer {
    width: 100%;
}

.mernContainer {
    width: 100%;
}

.projectsShowcase p {
    font-size: 13px;
}

.projectsShowcase h1 {
    font-size: 20px;
    margin-block-start: 0;
    margin-block-end: 10px;
    text-align: center;
}

.valorContainer {
    width: 100%;
}

.workExperience {
    display: flex;
    flex-direction: column;
}

#profPic {
    margin: auto;
    border-radius: 50%;
    width: 20%;
    margin-top: 250px;
}

.workHistory {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
}

.workBio {
    display: flex;
    flex-direction: column;
}

.workBio p {
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.workBio h1 {
    color: white;
    margin: auto;
    margin-top: 30px;
}

.jobsContainer {
    display: flex;
    color: white;
    justify-content: space-around;
}

.jobsContainer h1 {
    font-size: 20px;
}

.jobsContainer div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.jobsContainer div img {
    align-self: center;
    height: 212px;
}

.iatseContainer {
    margin-left: 48px;
}

.skillsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 121px;
}

.skillsContainer img {
    width: 20%;
    align-self: center;
}

#rails {
    width: 15%;
}

#mongo {
    width: 30%;
}

#js {
    width: 12%;
}

.projectsShowcase a {
    text-decoration: none;
    color: white;
    width: 50%;
}

#centerProject {
    margin-left: 20px;
    margin-right: 20px;
}